{% if site.links.twitter %}<a href="http://twitter.com/{{ site.links.twitter}}"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
{% if site.links.facebook %}<a href="http://facebook.com/{{ site.links.facebook }}"><i class="fa fa-facebook fa-2x"></i></a>{% endif %}
{% if site.links.instagram %}<a href="http://instagram.com/{{site.links.facebook}}"><i class="fa fa-instagram fa-2x"></i></a>{% endif %}
{% if site.links.github %}<a href="http://github.com/{{ site.links.github}}"><i class="fa fa-github fa-2x"></i></a>{% endif %}
{% if site.links.pinterest %}<a href="http://pinterest.com/{{ site.links.pinterest}}"><i class="fa fa-pinterest fa-2x"></i></a>{% endif %}
{% if site.links.youtube %}<a href="http://youtube.com/{{ site.links.youtube}}"><i class="fa fa-youtube fa-2x"></i></a>{% endif %}
{% if site.links.linkedin %}<a href="http://linkedin.com/{{site.links.linkedin }}"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
{% if site.links.flickr %}<a href="http://flickr.com/{{ site.links.flickr }}"><i class="fa fa-flickr fa-2x"></i></a>{% endif %}
{% if site.links.email %}<a href="mailto:{{ site.links.email }}"><i class="fa fa-envelope fa-2x"></i></a>{% endif %}
{% if site.links.dropbox %}<a href="http://dropbox.com/{{ site.links.dropbox }}"><i class="fa fa-dropbox fa-2x"></i></a>{% endif %}
