$shakespeare:
    rgba(212,26,19,1)
    ;

$tiber:
    #232323
    ;

$spray:
    #78E3FD
    ;

$royal-heath:
    #B74F6F
    ;

$bright-turquoise:
    #16FAE5
    ;
$white:
	#FFF
   	;

$black:
	#000
    ;

$blue1:
	#17BEBB
    ;

$blue2:
	#119DA4
    ;

$blue3:
	#00487C
    ;
