---
layout: page
---
<ul class="collapsible" data-collapsible="expandable">
	<li>
		<div class="collapsible-header active">Informatie</div>
		<div class="collapsible-body"><p>Verschillende door mij gemaakte foto's zijn gebruikt voor publicaties. Waaronder de volgende afbeeldingen die zijn gebruikt voor bijvoorbeeld hoezen en posters.</div>
	<li>
		<div class="collapsible-header">Voorbindbuik</div>
		<div class="collapsible-body">{% include voorbindbuik.html %}</div>
	</li>
	<li>
		<div class="collapsible-header">Digger and The Pussycats</div>
		<div class="collapsible-body">{% include hoes.html %}</div>
	</li>
	<li>
		<div class="collapsible-header">Speckmann</div>
		<div class="collapsible-body">{% include speckmann.html %}</div>
	</li>
  <li>
    <div class="collapsible-header">Loud squirt</div>
    <div class="collapsible-body">{% include loud-squirt.html %}</div>
  </li>
</ul>
