---
layout: page
---
<ul class="collapsible" data-collapsible="expandable">
	<li>
		<div class="collapsible-header active">Informatie</div>
		<div class="collapsible-body"><p>Op deze pagina vindt u mijn foto's. Mocht u vragen hebben, of één of meerdere foto's willen bestellen dan kunt u <a href="/contact">hier</a> contact opnemen</p></div>
	<li>
		<div class="collapsible-header">Fred en Toody 2013</div>
		<div class="collapsible-body">{% include fred-toody.html %}</div>
	</li>
	<li>
		<div class="collapsible-header">Pink Mountaintops 2014</div>
		<div class="collapsible-body">{% include pink-mountaintops.html %}</div>
	</li>
	<li>
		<div class="collapsible-header">Skip and die 2015</div>
		<div class="collapsible-body">{% include skip-die.html %}</div>
	</li>
	<li>
		<div class="collapsible-header">Wand + Bingo Starr 2015</div>
		<div class="collapsible-body">{% include wand-bingo-starr.html %}</div>
	</li>
	<li>
		<div class="collapsible-header">Blind Shake 2016</div>
		<div class="collapsible-body">{% include blind-shake.html %}</div>
	</li>
	<li>
		<div class="collapsible-header">Show me the body 2016</div>
		<div class="collapsible-body">{% include show-me-body.html %}</div>
	</li>
</ul>
