<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}


        {{ content }}


    {% include footer.html %}
    <script src="{{ "/js/materialize.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/lightbox.js" | prepend: site.baseurl }}"></script>
    <script>
        $(document).ready(function(){
          $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
          });
        });
    </script>
  </body>

</html>
